@import './base.css';

/* Page style setup*/
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    font-weight: normal;
}

/*Scroll bar styling */
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-soft);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-border);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
