.projectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 90vh;
}

.projectPage h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin: 2rem;
    color: var(--color-heading);
}
.projectPage a {
    text-decoration: underline;
    color: var(--color-text);
}
.projectPage a:hover {
    color: var(--color-text-hover);
}
.bold {
    font-weight: bold;
    display: inline;
}
